@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
    overflow-x: hidden;
}
.home{
    background: linear-gradient(to top, rgba(16, 22, 43, 0.7),rgba(22, 26, 39, 0.7)),url(images/court.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
    height: 40vh;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    padding: 20px 50px;
}
header .logo{
    color: #fff;
    font-size: 1.5rem;
    margin-right: auto;
    width: 100px;
    height: auto;
    padding-top: 1%;
    margin-left: 2%;
}
header .logo span{
    color: #ec9f68;
}
header .menubtn{
    cursor: pointer;
    margin-right: 15px;
    display: none;
}
header .menubtn img{
    filter: invert(1);
}
header .navbar a{
    color: #fff;
    text-transform: capitalize;
    margin-right: 15px;
    position: relative;
}
header .navbar a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 3px;
    background: #ec9f68;
    transition: .2s linear;
}
header .navbar a:hover::before{
    width: 100%;
}
.btn{
    padding: 10px 15px;
    background: #ec9f68;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
}
.btn:hover{
    border: 1px solid black;
    background: #fff;
    color: black;
    transition: 1s;
}
.home .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}
.home .wrapper h1{
    color: #fff;
    font-size: 400%;
    font-weight: 100;
    font-family: 'prata', serif;
}
.home .wrapper h3{
    font-weight: 300;
  margin-top: 1%;
}
.buttons{
    margin-top: 1.5rem;
    padding-left: 45%;
}
.btn2{
    padding: 8px 15px;
    color: #ec9f68;
    border: 2px solid #fff;
}
.btn2:hover{
    background: #fff;
    color: black;
    transition: 1s;  
}

/*---services----*/
.service-header2{
    margin-top: 5%;
    font-family: 'prata', serif;
    color: #0d0b5c;
    font-weight: 700;
    font-size: 250%;
    text-align: left;
    font-size: 250%; 
    margin-left: 5%;
    border-left: 8px solid #5c1e1a;
    padding-left: 2%;
  }
  .service-header3{
    padding-left: 1%;
    margin-left: 5%;
  }
  .service-header{
    margin-bottom: 0%;
    font-family: 'prata', serif;
    color: #0d0b5c;
    font-weight: 700;
    font-size: 250%;
    text-align: center;
  }
  .service-description{
    margin-block: 1rem;
    font-weight: 400;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 4%;
  }
  .discover-grid{
    padding: 1rem;
    padding-right: 6rem;
    padding-left:5rem ;
    display: flex;
    gap: 4rem;
  }
  .discover-card img{
    width: 450px;
    border-radius: 20px;
    height: 350px;
    margin-bottom: 3%;
  }
  .discover-card-content h4{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;
    padding-left: 1rem;
    margin-bottom: 2%;
  }
  .discover-card-content p{
    padding-left: 0rem;
    padding-right: 0rem;
    text-align: center;
  }
  .discover-grid-two{
    padding: 1rem;
    padding-bottom: 7rem;
    padding-right: 1%;
    display: flex;
    gap: 4rem;
}
.discover-card-two img{
    width: 450px;
    border-radius: 20px;
    height: 350px;
    margin-bottom: 3%;
}
.discover-card-two h4{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;
    padding-left: 1rem;
    margin-bottom: 2%;
}
.discover-card-two p{
    padding-left: 0rem;
    padding-right: 0rem;
    text-align: center;
}

.report{
    background: linear-gradient(rgba(16, 22, 43, 0.7),rgba(22, 26, 39, 0.7)),url(images/globe.png);
   background-position: center;
   background-size: cover;
    height: 70vh;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.report-content{
color: #fff;
padding-top: 150px;
}
.report-content h3{
    font-size: 80%;
    margin-bottom: 2%;
    text-align: center;
}
.report-content h2{
    font-size: 220%;
    font-weight: 400;
    margin-bottom: 3%;
    text-align: center;
}
.report-content h4{
    margin-bottom: 3%;
    font-size: 90%;
    font-weight: 500;
    text-align: center;
}
.btn5{
padding: 10px 15px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    text-transform: capitalize;
    margin-left: 45%;
}
.btn5:hover{
    border: 1px solid black;
    background: #fff;
    color: black;
    transition: 1s;
}

.pro-bono{
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #ecebeb;
    height: 90vh;
}
.pro-bono h2{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 200%;
    font-family: 'prata sans serif';
    padding-top: 3rem;
}
.pro-bono p{
    text-align: center;
    margin-bottom: 3%;
    font-weight: 550;
}
.pro-bono-content{
    display: flex;
    padding-left: 150px;
    align-items: center;
    background-color: #fff;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-left: 0rem;
    padding-right: 0rem;
    height: 60vh;
}
.pro-bono-content img{
    width: 60%;
    height: 60vh;
}
.pro-bono-content p{
    padding-left: 4rem;
    text-align: left;
    font-size: bolder;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.pro-bono-link{
margin-left: 980px;
margin-top: -160px;
font-weight: 700;
color: rgb(70, 20, 20);
}

/*---- Footer-----*/
.contactinfo{
    padding: 20px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    background-color: #01002bef;
}
.contactinfo .box{
    padding: 1.5rem;
    border: 1px solid #aaa;
    display: flex;align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #aaa;
}
.contactinfo .box span{
    color: #0d0b5c;
    padding: 10px 0;
}
.footer{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.footer a{
    color: #202022;
    font-size: 18px;
}
.copy{
    background: #202047ef;
    padding: 8px;
    text-align: center;
    color: #fff;
}
.gotop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 1.9rem;
    width: 1.9rem;
    line-height: 1.9rem;
    border-radius: 3px;
    background: #ec9f68;
    text-align: center;
    display: none;
}
.gotop img{
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
    filter: invert(1);
}
.gotop.active{
    display: block;
}
